In [1]:
import yfinance as yf
import datetime

In [2]:
ticker = "AAPL"
start_date = "2010-01-01"
end_date = datetime.datetime.now().strftime("%Y-%m-%d")

data = yf.download(ticker, start=start_date, end=end_date)
data

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2010-01-04    6.440332    6.455078    6.391279    6.422878  493729600
2010-01-05    6.451466    6.487879    6.417459    6.458086  601904800
2010-01-06    6.348847    6.477046    6.342227    6.451467  552160000
2010-01-07    6.337111    6.379844    6.291068    6.372321  477131200
2010-01-08    6.379239    6.379841    6.291367    6.328682  447610800
...                ...         ...         ...         ...        ...
2025-04-04  188.380005  199.880005  187.339996  193.889999  125910900
2025-04-07  181.460007  194.149994  174.619995  177.199997  160466300
2025-04-08  172.419998  190.339996  169.210007  186.699997  120859500
2025-04-09  198.850006  200.610001  171.889999  171.949997  184395900
2025-04-10  190.419998  194.779999  183.000000  189.070007  121685000

[3842 rows x 5 columns]